.DS_Store
docs/mapp_project_00067/mapp_batch_00174/results/met_annot_enhancer/580203a158ff414ab7b6af2eb30d0f6b/nf_output/clustering/tall_raw_data.tsv
docs/mapp_project_00067/mapp_batch_00174/results/met_annot_enhancer/4e5060d5d8204d90b5c44867b808e9d1/nf_output/clustering/tall_raw_data.tsv